body{
  /*
   * Beispiel für die Verwendung eigener Template Variablen.
   * @see Theme.php
   */
  background-color: @body-background;
}

/*
 * Beispiel für eine Anpassung mit MediaQueries.
 * @see structure.less im Responsive-Template
 */
@media screen and (min-width: @phoneLandscapeViewportWidth) {
  .entry--search {
    width: 30%;
  }
}

/*
 * Beispiel für die Verwendung von Less-Mixins.
 * Hier: unitize. Rechnet einen Pixel-Wert in eine relative Angabe um.
 */
.action--filter-btn .filter--trigger{
  .unitize(height, 50);
}